.list {
  list-style: none;
  padding: 0;
  font-size: 24px;
  border-top: 1px solid #ccc;

  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.container {
  margin: 0 auto;
}
.backLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  width: 80px;
  background-color: rgb(160, 197, 197);
}
